<div class = container>

  <footer class="footer">
        <div class = "container">
              <div class = "row">
                    <div class = col-sm-4>
                      <p>
                      Address:<br> 
                      123 Anyway st.<br>
                      Somewhere, Someplace USA<br>
                      01234<br>
                       <a href="tel:+15417373101">541-737-3101</a>
                    </p>
                    </div> 
                    <div class = col-sm-4>
                    </div>
                    <div class = col-sm-4>
                      <span><a href="https://www.yelp.com"><img border="0" alt="yelp" src="if_Yelp-1_174253.png" width="40" height="40"></a><a href="https://www.opentable.com"><img border="0" alt="Open Table" src="OTLogo.png" width="60" height="50"></a></span>
                    </div>
              </div>  
        </div>  
    </footer>
</div>
