<div class ="container">
<nav class="navbar navbar-inverse" role="navigation">
       <ul class="nav navbar-nav">
      <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/location">Location/Contact</a></li>      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menus
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/menus/lunch">Lunch</a></li>
          <li><a href="/menus/dinner">Dinner</a></li>
        </ul>
    </ul>
<span><a href="/"><img border="0" alt="Restaurant Name" src="restaurant.png"></a></span>
</nav>
</div>


