<div class = container>
<h1>The Dinner Menu<span><a target="_blank" href="/download/dinner.pdf">Download Menu</a></span></h1>
<main class="menu">
  {{#each object}}
      {{> menuContent}}
  {{/each}}
</main>
</div>