<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="1.jpg" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2.jpg"></li>
    <li data-target="#myCarousel" data-slide-to="3.jpg"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="1.jpg" alt="Meatloaf, mashed potatoes and gravy">
    </div>

    <div class="item">
      <img src="2.jpg" alt="Haddock Fritters">
    </div>

    <div class="item">
      <img src="3.jpg" alt="Scallops in cream sauce">
    </div>
  </div>

  <!-- Left and right controls -->

</div>

