<div class = container>

<h1>The Lunch Menu<span><a target="_blank" href="/download/lunch.pdf">Download Menu</a></span></h1>

<main class="menu">
  {{#each object}}
    {{> menuContent}}
  {{/each}}
</main>
</div>